* text=auto
*.cpp text eol=lf
*.dart text eol=lf
*.h text eol=lf
*.jl text eol=lf
*.py text eol=lf
tests/schemas/ui_golden/*.txt text eol=lf
tests/schemas/ui/**/*.toml text eol=lf
tests/schemas/ui/**/*.md text eol=lf